@import "north";
@import "south";
@import "expanded";
@import "collapsed";
@import "center";
@import "west";
@import "images-candy";
@import "dashboard";
/*
 * Aplica estilo decline a botones
 */
 @include extjs-button-small-ui(
 $ui: 'decline',
 $background-color: transparent,
 $background-color-over: transparent,
 $background-color-pressed: transparent,
 $color: $epw-ldark-color
 );
 .x-btn-inner-decline-small:hover{
    text-decoration: underline;
 }
 @include extjs-button-small-ui(
 $ui: 'action',
 $background-color: #2c8c04,
 $background-color-over: #2c8c04,
 $background-color-pressed: #2c8c04,
 $color: $epw-target-color,
 $glyph-color: $epw-target-color,
 $glyph-opacity: 1
 );
 @include extjs-button-medium-ui(
 $ui: 'action',
 $background-color: #326c9c,
 $background-color-over: #326c9c,
 $background-color-pressed: #326c9c,
 $color: $epw-target-color
 );
 @include extjs-button-large-ui(
 $ui: 'action',
 $background-color: #326c9c,
 $background-color-over: #326c9c,
 $background-color-pressed: #326c9c,
 $color: $epw-target-color
 );
 .x-panel-body.x-panel-body-menu-west.x-panel-body-menu-west.x-noborder-trbl {
   background-color:#646870;
 }
 .x-panel .x-border-item.x-box-item.x-panel-menu-west{
   background-color:#646870;
 }
 .menu-west {
   background-color:#646870;
 }
 .x-panel.menu-west.x-border-item.x-box-item.x-panel-default{
    background:#646870;
 }
 .panelPago{
   padding: 40px !important;
   background: #d8d3d3;
 }
 .spin {
 	left: 50%;
 	top: 50%;
 	margin-left: -80px;
 	margin-top: -80px;
 	width: 160px;
 	height: 100px;
 	position: relative;
 }
 .spinner {
 	left: 50%;
 	margin-left: -30px;
 	width: 60px;
 	height: 60px;
 	position: relative;
 }
 .spinner-text {
 	text-align: center;
 	color: #FFF;
 	margin-top: 20px;
 	font-size: 14px;
 	font-family: Arial;
 }

 .cube1, .cube2 {
   background-color: #FFF;
   width: 15px;
   height: 15px;
   position: absolute;
   top: 0;
   left: 0;

   -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
   animation: sk-cubemove 1.8s infinite ease-in-out;
 }

 .cube2 {
   -webkit-animation-delay: -0.9s;
   animation-delay: -0.9s;
 }

 @-webkit-keyframes sk-cubemove {
   25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
   50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
   75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
   100% { -webkit-transform: rotate(-360deg) }
 }

 @keyframes sk-cubemove {
   25% {
 	transform: translateX(42px) rotate(-90deg) scale(0.5);
 	-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
   } 50% {
 	transform: translateX(42px) translateY(42px) rotate(-179deg);
 	-webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
   } 50.1% {
 	transform: translateX(42px) translateY(42px) rotate(-180deg);
 	-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
   } 75% {
 	transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
 	-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
   } 100% {
 	transform: rotate(-360deg);
 	-webkit-transform: rotate(-360deg);
   }
 }
 #preloader {
 	background-color: #326c9c;
 	height: 100%;
 	width: 100%;
 	position: absolute;
 	z-index: 9999;
 }
 html, body {
 	margin: 0;
 	overflow: hidden;
 }
 .x-tab-button-dark_disabled{
	 line-height: 16px !important;
 }
 .x-tab-dark_disabled-top{
    padding-left: 12px;
    padding-right: 12px;
    background-color: #d6eaf7;
    color: #666666;
 }
.parent-div-ellipsis {
    width: 100%;
    border: 1px;
    padding: 4px;
    line-height: 50px;
}
.text-div-ellipsis {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.thumb-wrap {
    float: left;
    margin: 4px;
    border: 1px solid #CCC;
    margin-right: 0;
    padding: 10px;
    width: 150px;
    height: 150px;
    position: relative;
    a{
      font-size: 50px;
      padding: 25%;
    }
    span{
      text-align: center;
      font-siza:16px;
    }
}
.thumb-wrap2 {
    float: left;
    margin: 4px;
    border: 1px dashed #CCC;
    margin-right: 0;
    padding: 10px;
    //width: 50px;
    //height: 50px;
    position: relative;
    a{
      font-size: 16px;
      padding: 5px;
    }
    span{
      text-align: center;
      font-size:14px;
    }
}

.item-list-checked {
  //text-decoration: line-through;
   color: #cccccc;
  .x-grid-item-focused {
  //text-decoration: line-through;
  color: #cccccc;
  }
}
 .item-list-checked .x-action-col-glyph {
   span {
   text-decoration: none !important;
  }
 }

.thumb-icon {
    font-size: 50px;
    padding: 15px;
}
.thumb-name  {
    /* position: absolute; */
    position: absolute;
    bottom: 0px;
    right: 5px;
}

/*
 * Aplica estilo al preloader del inicio de la app
 */
 .login-card-esperea {
  color: #fff;
  font-size: 16px !important;
  margin-top: 130px;
  margin-left: -7px;
  width: 150px;
  height: 100px;
  position: relative;
  font-family: 'Open Sans'
}

/*
 * Quita linea punteada del navegador Firefox
 */
a{
  outline: none;
}
div{
   outline: none;
}
/*
 * Aplica estilo al body de la app poniendole el color de fondo
 */
body.x-border-layout-ct, div.x-border-layout-ct {
  background-color: #E7E6E6;
}

/*
 *   FUNCION RECURSIVA PARA CLASES DE ELEMENTOS MODULOS DE MENU , TAB Y FORMULARIO CENTRAL
 */

@mixin linear-gradient($color-stops) {
  background: linear-gradient(to right,  $color-stops 3%, $color-stops 3%, $color-stops 3%, $epw-target-color 0%, $epw-target-color 0%);
}

$modules: 'color-1','color-2','color-3','color-4','color-5','color-6','color-7','color-8','color-9';
$modules-color: $epw-mod1-color, $epw-mod2-color, $epw-mod3-color, $epw-mod4-color, $epw-mod5-color, $epw-mod6-color, $epw-mod7-color, $epw-mod8-color, $epw-mod9-color;
$modules-lcolor: $epw-lmod1-color, $epw-lmod2-color, $epw-lmod3-color, $epw-lmod4-color, $epw-lmod5-color, $epw-lmod6-color, $epw-lmod7-color, $epw-lmod8-color, $epw-lmod9-color;
$modules-llcolor: $epw-llmod1-color, $epw-llmod2-color, $epw-llmod3-color, $epw-llmod4-color, $epw-llmod5-color, $epw-llmod6-color, $epw-llmod7-color, $epw-llmod8-color, $epw-llmod9-color;
$i: 1;
@each $module in $modules {
  /*
   * Recursiva: Expanded
   */
 @include extjs-button-small-ui(
 $ui: 'btn-module-#{$module}',
 $background-color: nth($modules-color, $i),
 $color: $epw-target-color
 );
 @include extjs-button-large-ui(
 $ui: 'btn-module-#{$module}',
 $background-color: nth($modules-color, $i),
 $color: $epw-target-color
 );
  @include extjs-button-medium-ui(
 $ui: 'btn-module-#{$module}',
 $background-color: nth($modules-color, $i),
 $color: $epw-target-color
 );
  @include extjs-panel-ui(
    $ui: 'westexpanded-btn-header-module-#{$module}',
    $ui-body-color: $epw-target-color,
    $ui-header-background-color: $epw-target-color,
    $ui-header-font-weight: normal,
    $ui-header-padding: 17px 0px,
    //$ui-header-font-size: 18px,
    $ui-header-text-transform : uppercase
  );
 .x-panel-westexpanded-btn-header-module-#{$module} {
      margin: 0px;
      border-color: $epw-llldark-color;
      &.x-accordion-item {
        .x-accordion-hd {
         @include linear-gradient(nth($modules-color, $i));
           height: 52px !important;
        }
      }
      /*
       * Aplica estilo a titulo del header del menu expandido
       */
      .x-title-text {
        &.x-title-item {
          font-size: 12px;
          font-weight: normal;
          padding-left: 30px;
        }
      }
      /*
       * Aplica estilo a botones del menu expandido
       */
      .westexpanded-btn-body{
        //background: $epw-target-color;
       // background: linear-gradient(to right, nth($modules-color, $i) 3%, nth($modules-color, $i) 3%, nth($modules-color, $i) 3%,$epw-lllbase-color 0%,$epw-lllbase-color 0%);
        background: inherit;
        font-size: 12px;
        height: 40px !important;
        padding-bottom: 0px;
        padding-top: 5px;
        text-align: left;
        .x-btn-button-center {
          text-align: left;
          span{
            div{
               width:'100%';
               white-space: pre-wrap;
            }
          }
        }
      }
      /*
       * Aplica estilo a botones del menu expandido en estado hover
       */
     .westexpanded-btn-body:hover {
        background: linear-gradient(to right, nth($modules-color, $i) 3%, nth($modules-color, $i) 3%, nth($modules-color, $i) 3%,$epw-lllbase-color 0%,$epw-lllbase-color 0%);
        //background: $epw-lllbase-color;
        font-size: 12px;
        font-weight: bold;
        height: 40px;
        padding-bottom: 0px;
        text-align: left;
        .x-btn-button-center {
          text-align: left;
        }
        div{
          color: #363636;
        }
      }
 /*
  * Aplica estilo a glyph del titlulo en header del menu expandido
  */
   .x-title-icon-wrap-westexpanded-btn-header-module-#{$module} > .x-title-glyph {
      color: $epw-lldark-color;
      font-size: 25px;
      font-weight: normal;
      line-height: 15px;
      opacity: 1;
      padding-left: 24px;
    }
  }

  .westexpanded-cnt-body-module-#{$module}{
   // background: inherit;
  }
  /*
   * Aplica estilo a botones del menu expandido en estado estatico
   */
 // .x-panel-body.x-accordion-body.x-panel-body-westexpanded-btn-header-module-#{$module}.x-layout-fit.x-panel-body-westexpanded-btn-header-module-#{$module}.x-noborder-trbl{
    // background: linear-gradient(to right,nth($modules-color, $i) 3%, nth($modules-color, $i) 3%, nth($modules-color, $i) 3%,$epw-target-color 0%,$epw-target-color 0%);
  // }
  .x-panel-body.x-accordion-body.x-panel-body-westexpanded-btn-header-module-#{$module}.x-panel-body-westexpanded-btn-header-module-#{$module}.x-noborder-trbl{
     background: linear-gradient(to right,nth($modules-color, $i) 3%, nth($modules-color, $i) 3%, nth($modules-color, $i) 3%,$epw-target-color 0%,$epw-target-color 0%)!important;
  .x-container.x-fit-item.x-container-westexpanded-btn-body{
    background: linear-gradient(to right,nth($modules-color, $i) 3%, nth($modules-color, $i) 3%, nth($modules-color, $i) 3%,$epw-target-color 0%,$epw-target-color 0%)!important;
  }
  }
  .x-panel-body.x-accordion-body.x-panel-body-westexpanded-btn-header-module-#{$module}.x-layout-fit.x-panel-body-westexpanded-btn-header-module-#{$module}.x-noborder-trbl.x-panel-body-westexpanded-btn-header-module-#{$module}-collapsed{
  //  background: linear-gradient(to right, nth($modules-color, $i) 3%, nth($modules-color, $i) 3%,nth($modules-color, $i) 3%,$epw-target-color 0%,$epw-target-color 0%);
  //  height: 50px;
  }
  /*
   * Aplica estilo al tool del header del menu expandido cuando se expande y colapsa verticalemente
   */
  .x-panel-header.x-header.x-header-noborder.x-docked.x-unselectable.x-panel-header-westexpanded-btn-header-module-#{$module}.x-horizontal.x-panel-header-horizontal.x-panel-header-westexpanded-btn-header-module-#{$module}-horizontal.x-top.x-panel-header-top.x-panel-header-westexpanded-btn-header-module-#{$module}-top.x-box-layout-ct.x-accordion-hd.x-collapsed.x-panel-header-collapsed.x-panel-header-westexpanded-btn-header-module-#{$module}-collapsed.x-collapsed-top.x-panel-header-collapsed-top.x-panel-header-westexpanded-btn-header-module-#{$module}-collapsed-top{
    .x-tool.x-box-item.x-tool-default.x-tool-after-title:before{
    display: inline-block;
    //font: normal normal normal 14px FontAwesome;
  //  width: 0px;
    font: normal normal normal 11px FontAwesome;
    font-size: 13px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #666;
    opacity: 1;
   content:  "\f078";

  }
  .x-tool.x-box-item.x-tool-default.x-tool-after-title{
    img{
          visibility: hidden;
    }
  }
}
  /*
   * Aplica estilo al tool del header del menu expandido cuando se expande y colapsa verticalemente
   */
.x-panel-header.x-header.x-header-noborder.x-docked.x-unselectable.x-panel-header-westexpanded-btn-header-module-#{$module}.x-horizontal.x-panel-header-horizontal.x-panel-header-westexpanded-btn-header-module-#{$module}-horizontal.x-top.x-panel-header-top.x-panel-header-westexpanded-btn-header-module-#{$module}-top.x-box-layout-ct.x-accordion-hd{
    .x-tool.x-box-item.x-tool-default.x-tool-after-title:before{
    display: inline-block;
    //font: normal normal normal 14px FontAwesome;
    font: normal normal normal 11px FontAwesome;
    font-size: 13px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #666;
    opacity: 1;
   content:  "\f077";
  // width: 0px;
  }
    .x-tool.x-box-item.x-tool-default.x-tool-after-title{
    img{
          visibility: hidden;
    }
  }
}
  /*
   * Recursiva: Collapsed
   */
  /*
   * Aplica estilo a los paneles de los menues colapsados
   */
  .westcollapsed-pnl-menu-module-#{$module}{
      background-color: $epw-lllbase-color !important;
      border: 0px;
      border-radius: 5px 5px 5px 5px;
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-radius: 5px 5px 5px 5px;
      p{
        color: nth($modules-color, $i) ;
        font-weight: bold;
        font-size: 13px;
        margin: 5px 10px 0px 10px;
        padding: 5px 10px 5px 10px;
        vertical-align: middle;
        text-transform: uppercase;
        white-space: pre-wrap;
        width: 140px;
        text-align: center !important;
      }
      .x-box-inner {
        background-color: $epw-lllbase-color;
      }
      .x-menu-body-default {
      background: $epw-lllbase-color;
      }
  }
  /*
   * Aplica estilo a los botones iniciales del  menu colapsado en estado estatico
   */
 .westcollapsed-btn-module-#{$module}{
    background: linear-gradient(to right, nth($modules-color, $i) 10%,nth($modules-color, $i) 10%,nth($modules-color, $i) 10%,$epw-target-color 0%,$epw-target-color 0%);
    border-radius:0px;
    font-size: 20px;
    height: 50px;
    margin: '10px 10px 0 10px';
    text-aling: 'center';
    width: 56px;

    .x-btn-icon-el-default-small.x-btn-glyph {
      color: $epw-lldark-color;
      font-size: 25px;
      line-height: 15px;
      opacity: 1;
      padding-left: 2px;
    }
    .x-btn-wrap-default-small.x-btn-arrow-right:after {
      background-image: none;
    }
  }
   /*
   * Aplica estilo a los botones iniciales del  menu colapsado en estado hover
   */
  .westcollapsed-btn-module-#{$module}:hover{
    background: linear-gradient(to right, nth($modules-color, $i) 10%,nth($modules-color, $i) 10%,nth($modules-llcolor, $i) 10%,nth($modules-llcolor, $i)  0%,nth($modules-llcolor, $i) 0%);
    border: none;
    font-size: 20px;
    height: 50px;
    margin: '10px 10px 0 10px';
    text-aling: 'center';
    width: 56px;
}
  /*
   * Aplica estilo a los botones iniciales del  menu colapsado en estado focus
   */
  .westcollapsed-btn-module-#{$module}:focus{
    background: linear-gradient(to right, nth($modules-color, $i) 10%,nth($modules-color, $i) 10%,nth($modules-llcolor, $i) 10%,nth($modules-llcolor, $i)  0%,nth($modules-llcolor, $i) 0%);
    border: none;
    font-size: 20px;
    height: 50px;
    margin: '10px 10px 0 10px';
    text-aling: 'center';
    width: 56px;
}
  /*
   * Aplica estilo a los botones iniciales del  menu colapsado cuando pierde el foco
   */
  .x-btn.westcollapsed-btn-module-#{$module}.x-unselectable.x-btn-default-small.x-btn-menu-active{
     background: linear-gradient(to right,nth($modules-color, $i) 10%,nth($modules-color, $i) 10%,nth($modules-llcolor, $i) 10%,nth($modules-llcolor, $i) 0%,nth($modules-llcolor, $i) 0%);
     border: none;
     border: 1px $epw-llldark-color;
     border-style: solid;
  }
  /*
   * Aplica estilo a los botones iniciales del  menu colapsado cuando se mantiene presionado
   */
  .x-btn.westcollapsed-btn-module-#{$module}.x-unselectable.x-btn-default-small.x-focus.x-btn-focus.x-btn-default-small-focus{
       background: linear-gradient(to right,nth($modules-color, $i) 10%,nth($modules-color, $i) 10%,nth($modules-llcolor, $i) 10%,nth($modules-llcolor, $i) 0%,nth($modules-llcolor, $i) 0%);
       border-radius: 0px;
       border: 20px;
       border: 1px $epw-llldark-color;
       border-style: solid;
  }
  /*
   * Aplica estilo a los bordes de los botones iniciales del menu colapsado
   */
 .x-btn.westcollapsed-btn-module-#{$module}.x-unselectable.x-btn-default-small{
   padding-left: 13px;
   border: 1px $epw-llldark-color;
   border-style: solid;

  }
  .x-menu.westcollapsed-pnl-menu-module-#{$module}.x-layer.x-menu-default.x-border-box{
    border-color: $epw-lllbase-color;
    padding: 0px;
     .x-menu-item-arrow-default {
        top: 10px;
        right: 0px;
      }
    .x-menu-body.x-menu-body.x-unselectable.x-menu-body-default.x-box-layout-ct.x-menu-body-default.x-noborder-trbl{
      .x-menu-item.x-menu-item-default.x-box-item a{
        span{
         margin: 0 0 0 35px;
         width: 110px; //modifique era 100
         white-space: pre-wrap;
         padding-top: 3%;
         padding-bottom: 3%;
        }
      }
      .x-menu-item.x-menu-item-default.x-box-item.x-menu-item-active {
        border-color: $epw-lllbase-color;
        span{
          font-weight: normal;
        }
      }
    }
  }
 /*
  * Recursiva: Center
  */
  @include extjs-tab-ui(
  $ui: 'center-tab-module-#{$module}',
  $ui-background-color: nth($modules-color, $i),
  $ui-background-color-active: $epw-target-color,
  $ui-background-color-over: nth($modules-lcolor, $i),
  $ui-border-color: nth($modules-color, $i),
  $ui-border-color-over: nth($modules-color, $i),
  $ui-border-color-focus-active: $epw-target-color,
  $ui-border-color-active: $epw-target-color,
  $ui-border-color-focus: $epw-target-color,
  $ui-color: $epw-target-color,
  $ui-color-focus: $epw-dull-color,
  $ui-color-active: $epw-dull-color,
  $ui-font-family: $tab-font-family,
  $ui-font-weight :bold,
  $ui-inner-border-color-active: $epw-target-color,
  $ui-inner-border-color-focus-active: $epw-target-color
  //$ui-padding: 8px 3px 8px 10px
  );

  .x-tab-text.x-tab-icon-left > .x-tab-icon-el-center-tab-module-#{$module} {
  margin-right: 5px;
}
/*
 * Aplica estilo a la imagen close del tab en estado estatico
 */
  .x-tab-center-tab-module-#{$module} .x-tab-close-btn {
     background-image:none;
  }
  .x-tab-center-tab-module-#{$module} .x-tab-close-btn:before {
   display: inline-block;
  font: normal normal normal 14px FontAwesome;
  background-image: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  opacity: 1;
  content:  "\f00d";
}
/*
 * Aplica estilo a la imagen close del tab en estado activo
 */
.x-tab-center-tab-module-#{$module}.x-tab-active .x-tab-close-btn{
  background-image:none !important;
}
.x-tab-center-tab-module-#{$module}.x-tab-active .x-tab-close-btn:before{
    display: inline-block;
  font: normal normal normal 14px FontAwesome;
  //font-size: 40px;
  background-image: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: gray;
  opacity: 1;
  content:  "\f00d";
}
  /*
   * Aplica estilo al glyph del tab center
   */
  .x-tab-icon-el-center-tab-module-#{$module}.x-tab-glyph{
    color: $epw-target-color;
    font-size: 18px;
    line-height: 18px;
    opacity: 1;
  }
  /*
   * Aplica estilo al tamaño de los tab center
   */
  .x-tab-inner.x-tab-inner-center-tab-module-#{$module}{
    //height: 34px;
    //line-height: 34px;
  }
  /*
   * Aplica estilo para ubicar elboton close del tab
   */
  .x-tab.center-tab-module.x-unselectable.x-box-item.x-tab-center-tab-module-#{$module}.x-top.x-tab-top.x-tab-center-tab-module-#{$module}-top.x-tab-closable{
    padding: 0px 3px 0px 10px;
  }
   /*
   * Aplica estilo al glyph del tab center en estado activo
   */
  .x-tab.x-tab-active.x-tab-center-tab-module-#{$module} .x-tab-glyph {
    color: $epw-dull-color;
   // height: 34px;
    //line-height: 34px;
  }

  /*
 * Region: Center Aplica estilo al titulo del formulario central de toda la app
 */
  .centerform-title-module-#{$module}{
    color: nth($modules-color, $i);
    font-size: 20px;
    margin-left: 20px !important;
    margin-top: 0px !important;
    text-transform: uppercase;
  }

    .x-btn.eastdashboard-btn-menu-module-#{$module}.x-unselectable.x-btn-default-small {
      height: 50px;
      width: 60px;
      background: linear-gradient(to left, nth($modules-color, $i) 20%, nth($modules-color, $i) 20%, nth($modules-color, $i) 20%, lighten(nth($modules-color, $i),30 ) 0%, lighten(nth($modules-color, $i),30 ) 0%);
    	.x-btn-wrap-default-small.x-btn-arrow-right:after {
       		 background-image: none;
    	}
    }

    .x-btn.menueast-eastdashboard-btn-menu-module-#{$module}.x-unselectable.x-box-item.x-btn-default-small.x-menu-item-cmp.x-menu-item-cmp-default.x-menu-item-indent-default{
      background-color:lighten( nth($modules-color, $i),30);
        height: 50px;
    }
    .x-btn.menueast-eastdashboard-btn-menu-module-#{$module}.x-unselectable.x-box-item.x-btn-default-small{
      background-color:lighten( nth($modules-color, $i),30);
        height: 50px;
    }
    .x-btn.eastdashboard-btn-menu-module-#{$module}.x-unselectable.x-btn-default-small {
        .x-btn-icon-el-default-small.x-btn-glyph {
            font-size: 25px !important;
            line-height: 15px !important;
            color: #666 !important;
            opacity: 1 !important;
        }
    }
    .x-btn-icon-el-westexpanded-btn-header-module-#{$module}-small.x-btn-glyph {
        padding-left: 24px !important;
    }
  $i: $i + 1;
}
