$tab-closable-icon-top : 8px;
$tab-closable-icon-botton: 8px;
$tab-closable-icon-right : 10px;
$tab-closable-icon-left : 5px;
$tab-closable-icon-width: 12px !default;
$tab-closable-icon-height: 12px !default;
$tab-closable-icon-spacing: 10px;
$tab-border-width-over: 0px !default;
$tab-border-width-focus: 0px !default;
$tab-base-color : #8c0409;
